html{
    height: max-content;
}
body{
    margin:0;
    background: linear-gradient(244.24deg, #00FFA6 -22.87%, #75ECEC 34.02%, #73E9EC 35.12%, #60CFF0 45.89%, #0F63FF 90.91%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: max-content;
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 40pt;
    letter-spacing: 0%;
}
b{
    color: #F0DB98;
    font-weight: bold;
    font-size: 42pt;
}
.container{
    margin: 0 0;
}
.header{
    background-image: url(шарики.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: top right;
}
.header-logo{
    margin-top: -12px;
    height: 92px;
    width: 109px;
}
.header-line{
    padding-top: 33px;
    padding-left: 61px;
    display: flex;
    align-items: center;
    color: #3846EA;
    font-size: 36pt;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 400;
}
.nav{
    right: 412px;
    position: absolute;
}
.nav-item{
    color: white;
    text-decoration: none;
    font-size: 24pt;
    margin-right: 37px;
    text-shadow:none;
}
.nav-item:hover{
    color: #F0DB98;
}
.content{
    margin-top: 0px;
}
.header-down{
    position: relative;
}
.header-title{
    color: white;
    text-decoration: none;
    font-size: 36pt;
    text-align: left;
    position: absolute;
}
.p1{
    padding-top: 91px;
    padding-left: 68px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.p2{
    position: sticky;
    padding-top: 90px;
    padding-left: 164px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.p3{
    position: sticky;
    padding-top: 90px;
    padding-left: 125px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.footer{
    color:white;
    background-color: #393939;
    margin-top: 811px;
    width: 100%;
    height: 213px;
}
.footer1{
    color:white;
    background-color: #393939;
    margin-top: 0px;
    width: 100%;
    height: 213px;
}
.footer2{
    color:white;
    background-color: #393939;
    margin-top: 511px;
    width: 100%;
    height: 213px;
}
.k{
    padding-top: 39px;
    font-size: 24pt;
}
.contacts{
    padding-top: 13px;
    display: flex;
    justify-content: center;
    justify-items: center;
    font-size: 24pt;
}
.tt{
    display: flex;
    align-items: center;
    margin-right: 43px;
}
.n{
    color: white;
    text-decoration: none;
}
.n:hover{
    color: #F0DB98;
}
ul.spi{
    margin: 0;
    padding: 0;
}
.spi li{
    list-style: none;
    list-style-image: url(9.png); 
    list-style-position: outside;
    text-indent: -28pt;
}
.pic10{
    border-radius: 10px;
    border: 3px solid #4c5257;
    width: 170px;
    height: 290px;
}
table{
    color: #393939;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 400;
    font-family: "Archivo", sans-serif;
    font-size: 18pt;
    margin-top: 65px;
    padding-top: 10px;
    margin-bottom: 35px;
    padding-bottom: 10px;
    background: rgb(240, 248, 255, 0.5);
    border-radius: 20px;
    padding: 10px;
}
.back-to-top {
    position: fixed;
    bottom: 40px;
    right: 20px;
    padding: 5px 10px;
    cursor: pointer;
    z-index: 1000;
}
video{
    margin-top: 50px;
    border-radius: 10px;
    border: 4px solid rgb(240, 248, 255, 0.5);
    width: 500px;
    height: 310px;
}
p{
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 400;
    font-family: "Archivo", sans-serif;
    font-size: 30pt;
}
audio{
    right: 180px;
    top: 290px;
    position: absolute;
    width: 500px;
}